* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --minBoxSize: 40px;
  --MaxBoxSize: 100px;
  --animationFunction: cubic-bezier(0.075, 0.82, 0.165, 1);
  --primaryColor: #fff;
  --secondaryColor: #282c34;
  --containerMaxWidth: calc(100vw - 100px);
}
